body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#mainView {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

#phaseAndLegend {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}
